<head>
    <meta charset="UTF-8"/>
    <title>SpringBoot登录</title>
    <style type="text/css">
        ul li {
            list-style: none;
        }
    </style>
    <script src="js/jquery-3.3.1.min.js"></script>
</head>
<body>
<div>
    <ul>
        <li>
            <label for="username" class="input-tips2">用户名：</label>
            <div class="inputOuter2">
                <input type="text" id="username" name="username" maxlength="16"/>
            </div>
        </li>
        <li>
            <label for="password" class="input-tips2">密码：</label>
            <div>
                <input type="password" id="password" name="password" maxlength="16"/>
            </div>
        </li>
        <li>
            <div>
                <input type="submit" value="登录" onclick="login()"/>
            </div>
        </li>
    </ul>
</div>

<script type="text/javascript">
    function login() {
        var username = $("#username").val()
        var password = $("#password").val()

        $.ajax({
            url: '/senaTest/login',
            type: 'POST', //GET
            async: true,    //或false,是否异步
            data: {
                username: username,
                password: password
            },
            timeout: 5000,    //超时时间
            dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
            beforeSend: function (xhr) {
                console.log(xhr)
                console.log('发送前')
            },
            success: function (data, textStatus, jqXHR) {
                console.log(data)
                console.log(textStatus)
                console.log(jqXHR)
                window.location.href = "/index.html";
            },
            error: function (xhr, textStatus) {
                console.log('错误')
                console.log(xhr)
                console.log(textStatus)
            },
            complete: function () {
                console.log('结束')
            }
        })
    }
</script>
</body>  